{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="max-w-3xl mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Datenschutzerklärung</h1>
  <p>
    Der Schutz Ihrer persönlichen Daten ist uns wichtig. Nachfolgend informieren wir Sie über die Art, den Umfang
    und Zweck der Erhebung und Verwendung personenbezogener Daten auf dieser Website.
  </p>
  <h2 class="text-xl font-semibold mt-4">Verantwortlicher</h2>
  <p>
    Calli the Camper<br>
    Max Mustermann<br>
    Musterstraße 1<br>
    12345 Musterstadt<br>
    E-Mail: kontakt@calli-camper.de
  </p>

  <h2 class="text-xl font-semibold mt-4">Erhebung und Verarbeitung</h2>
  <p>
    Ihre personenbezogenen Daten werden nur dann erhoben, wenn Sie uns diese freiwillig mitteilen, z. B. bei der Buchung.
    Die von Ihnen zur Verfügung gestellten Daten verwenden wir ausschließlich zur Abwicklung Ihrer Anfrage oder Buchung.
  </p>

  <h2 class="text-xl font-semibold mt-4">Cookies</h2>
  <p>
    Diese Website verwendet Cookies, um die Benutzerfreundlichkeit zu verbessern. Sie können die Speicherung von Cookies
    in Ihrem Browser deaktivieren, was jedoch zu Einschränkungen in der Funktionalität führen kann.
  </p>

  <h2 class="text-xl font-semibold mt-4">Ihre Rechte</h2>
  <p>
    Sie haben das Recht auf Auskunft, Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer gespeicherten Daten
    sowie ein Beschwerderecht bei einer Aufsichtsbehörde.
  </p>
</section>
{% endblock %}
