{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <title>{% trans "Vielen Dank für Ihre Buchung!" %}</title>
  <link rel="stylesheet" href="style.css">
  <script src="return.js" defer></script>
</head>
<body>
  <section id="success" class="hidden">
    <p>
      {% trans "Vielen Dank für Ihr Vertrauen! Eine Bestätigungs-E-Mail wird gesendet an" %}
      <span id="customer-email"></span>.

      {% trans "Wenn Sie Fragen haben, schreiben Sie bitte an" %}
      <a href="mailto:abenteuer@callidercamper.de">buchung@callidercamper.de</a>.
    </p>
  </section>
{% endblock %}
